{% extends "generic/base.html" %}
{% block main %}
    <div class="container text-center">
        <div class="col-6 mx-auto">
            <div class="slogan mb-3">Your own Healthy Activity Application!</div>
            <p class="main-text text-muted">Welcome to FitAlert. This a simple app that allows you to create countdowns/timers for healthy activities.</p>
            <p class="buttons">
                <a href="{% url "countdown:create" %}" class="btn btn-primary">Create countdown</a>
                <a href="{% url "custom_user:signup" %}" class="btn btn-secondary">Register account</a>
            </p>
        </div>

    </div>
{% endblock %}